.container {
	margin-top: 20px;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	background-color: $colorBlack;
	color: $colorWhite;
	cursor: pointer;
	border: solid 2px $colorOrange;
	border-radius: 15px;
	box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(157, 126, 5, 0.364);
	padding: 10px;
	margin: 10px;
	height: auto;
	max-height: 610px;
	max-width: 320px;
	display: flex;
	flex-direction: column;

	gap: 10px;
	h2 {
		color: $colorOrange;
	}
	p {
		padding-top: 10px;
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
}

